In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [2]:
pd.set_option('max_columns',100)
df = pd.read_csv('Cust_Satisfaction_SampleClean.csv').drop('Unnamed: 0',axis=1)

In [3]:
df.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
1,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
2,100744,satisfied,Male,Loyal Customer,30,Personal Travel,Eco,1894,0,0,0,3,2,0,2,2,5,4,5,5,4,2,0,0.0
3,32838,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,227,0,0,0,3,2,5,5,5,5,0,5,5,5,3,17,15.0
4,32864,satisfied,Male,Loyal Customer,10,Personal Travel,Eco,1812,0,0,0,3,2,0,2,2,3,3,4,5,4,2,0,0.0

In [4]:
df.satisfaction_v2.value_counts()

satisfied                  35602
neutral or dissatisfied    29338
Name: satisfaction_v2, dtype: int64

In [12]:
df[df['satisfaction_v2'] == 'neutral or dissatisfied'].head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Average Rating
395,123730,neutral or dissatisfied,Male,Loyal Customer,48,Personal Travel,Eco Plus,1201,1,0,0,1,5,0,5,5,5,5,4,4,5,5,0,0.0,2.8125
398,32873,neutral or dissatisfied,Male,Loyal Customer,30,Personal Travel,Eco,1582,1,0,0,3,1,0,1,1,2,4,3,5,1,1,0,2.0,1.4375
401,87865,neutral or dissatisfied,Male,Loyal Customer,19,Personal Travel,Eco,1737,1,0,0,4,1,0,1,1,4,4,5,3,5,1,0,0.0,1.8750
402,46711,neutral or dissatisfied,Male,Loyal Customer,13,Personal Travel,Eco,1351,1,0,0,4,5,0,5,5,5,2,5,4,4,5,4,2.0,2.8125
403,126758,neutral or dissatisfied,Male,Loyal Customer,60,Personal Travel,Eco,3434,1,0,1,1,2,1,2,2,3,3,4,3,4,2,14,11.0,1.8125

In [6]:
df['Average Rating'] = (df.iloc[:, -16:-2].sum(axis=1))/16

In [7]:
len(df[df['Average Rating'] >3])

27837

In [8]:
len(df[(df['Average Rating'] <=3)])

37103

In [9]:
len(df[(df['Average Rating'] <=2.5)])

17727

In [10]:
37103-17727

19376

In [11]:
37103+27837

64940

In [16]:
len(df[(df['Average Rating'] >=3.5) & (df['satisfaction_v2'] == 'neutral or dissatisfied' )])

1011