In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [2]:
apr = pd.read_excel("Order April.xls")
jul = pd.read_excel("Order July.xls")
jun = pd.read_excel("Order June.xls")
may = pd.read_excel("Order May.xls")
mar = pd.read_excel("Orer March.xls")

### Data yg di ambil adalah
- No Pesanan
- Status Pesanan
- Nama Produk 
- Nama Variasi
- Harga setelah diskon 
- Jumlah
- Potongan koin Shopee
- Ongkos kirim Dibayar Oleh Pembeli
- Total Pembayaran
- Username
- Kota/Kabupaten
- Waktu Pembayaran Dilakukan
- Waktu Pesanan Dibuat

In [3]:
frames = [mar,apr,may,jun,jul]
df = pd.concat(frames)

In [4]:
df.reset_index(drop=True,inplace=True)

In [5]:
df = df[['No. Pesanan','Status Pesanan', 'Nama Produk', 'Nama Variasi', 
    'Harga Setelah Diskon', 'Jumlah', 'Potongan Koin Shopee', 'Ongkos Kirim Dibayar oleh Pembeli', 'Total Pembayaran',
        'Username (Pembeli)', 'Kota/Kabupaten']]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646 entries, 0 to 4645
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   No. Pesanan                        1256 non-null   object
 1   Status Pesanan                     1256 non-null   object
 2   Nama Produk                        4646 non-null   object
 3   Nama Variasi                       3846 non-null   object
 4   Harga Setelah Diskon               4646 non-null   object
 5   Jumlah                             4646 non-null   int64
 6   Potongan Koin Shopee               1256 non-null   float64
 7   Ongkos Kirim Dibayar oleh Pembeli  1256 non-null   object
 8   Total Pembayaran                   1256 non-null   object
 9   Username (Pembeli)                 1256 non-null   object
 10  Kota/Kabupaten                     1256 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 399.4+ KB

In [7]:
df

,No. Pesanan,Status Pesanan,Nama Produk,Nama Variasi,Harga Setelah Diskon,Jumlah,Potongan Koin Shopee,Ongkos Kirim Dibayar oleh Pembeli,Total Pembayaran,Username (Pembeli),Kota/Kabupaten
0,200302R7G0BX8D,Selesai,Kanvas lukis anak / small canvas for kids / ka...,30x30,Rp 17.500,1,0.0,Rp 9.000,Rp 26.500,usako,KOTA JAKARTA BARAT
1,200302RM4QP8U8,Batal,Giotto super washable finger paint share in bo...,"Merah,100ml",Rp 20.000,1,0.0,Rp 12.000,Rp 92.000,hannamargarethtampubolon,KOTA BANDUNG
2,NaN,NaN,Giotto super washable finger paint share in bo...,"Kuning,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Giotto super washable finger paint share in bo...,"Biru,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Giotto super washable finger paint share in bo...,"Hijau,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4641,NaN,NaN,Giant waterbeads sensory play hidrogel jumbo/ ...,"Jumbo/giant,25 gram",Rp 13.000,1,NaN,NaN,NaN,NaN,NaN
4642,2007259YW67JHH,Selesai,Giant waterbeads sensory play hidrogel jumbo/ ...,"Standar,25 gram",Rp 6.500,1,0.0,Rp 32.000,Rp 116.500,liftia10,KOTA JAKARTA SELATAN
4643,NaN,NaN,Giant waterbeads sensory play hidrogel jumbo/ ...,"Jumbo/giant,25 gram",Rp 13.000,1,NaN,NaN,NaN,NaN,NaN
4644,NaN,NaN,Die cast metal construction figurine / mainan ...,B,Rp 35.000,1,NaN,NaN,NaN,NaN,NaN
4645,NaN,NaN,200 gram sensory rice rainbow rice / montessor...,1 paket @50gr,Rp 30.000,1,NaN,NaN,NaN,NaN,NaN

In [8]:
x = df['Nama Produk'].loc[0]
y = df['Nama Variasi'].loc[0]

In [9]:
x.split()[0] + ' ' +  x.split()[1] + ' ' + y

'Kanvas lukis 30x30'

In [10]:
x = []
for item in df['Nama Produk']:
    splitan = item.split()[0] + ' ' +  item.split()[1]
    x.append(splitan)

In [11]:
df['Nama Produk'] = x

In [12]:
df['Nama Produk'].values

array(['Kanvas lukis', 'Giotto super', 'Giotto super', ...,
       'Giant waterbeads', 'Die cast', '200 gram'], dtype=object)

In [13]:
x = df['Nama Produk'].values
y = df['Nama Variasi']

## Ubah nama 
- Sensory rice --> Sensory Rice Ocean
- 200 gram --> Sensory Rice 200 gram 
- 10 gram + Instant Snow --> Instant Snow
- Sensory play + Giant Waterbeads + 50g 25g + 50g sensory + Kitsofhappiness - + 50g waterbeads --> Giant Waterbeads
- Sponge brush + Roller sponge --> Sponge Brush

In [14]:
def applyProduk2(x):
    if x == 'Sensory rice':
        return 'Sensory Rice Ocean'
    elif x == '200 gram':
        return 'Sensory Rice 200 gram'
    elif x == '10 gram':
        return 'Instant snow'
    elif x == 'Sensory play':
        return 'Giant waterbeads'
    elif x == '50g 25g':
        return 'Giant waterbeads'
    elif x == '50g sensory':
        return 'Giant waterbeads'
    elif x == 'Kitsofhappiness -':
        return 'Giant waterbeads'
    elif x == '50g waterbeads':
        return 'Giant waterbeads'
    elif x == 'Roller sponge':
        return 'Sponge brush'
    else :
        return x

In [15]:
def applyProduk(x):
    if x['Nama Produk'] == 'Sensory rice':
        return 'Sensory Rice Ocean'
    elif x['Nama Produk'] == '200 gram':
        return 'Sensory Rice 200 gram'
    elif x['Nama Produk'] == '10 gram':
        return 'Instant snow'
    elif x['Nama Produk'] == 'Sensory play':
        return 'Giant waterbeads'
    elif x['Nama Produk'] == '50g 25g':
        return 'Giant waterbeads'
    elif x['Nama Produk'] == '50g sensory':
        return 'Giant waterbeads'
    elif x['Nama Produk'] == 'Kitsofhappiness -':
        return 'Giant waterbeads'
    elif x['Nama Produk'] == '50g waterbeads':
        return 'Giant waterbeads'
    elif x['Nama Produk'] == 'Roller sponge':
        return 'Sponge brush'
    else :
        return x

In [16]:
df['Nama Produk'] = df['Nama Produk'].apply(applyProduk2)

In [17]:
df['Nama Produk'].value_counts()

Series([], Name: Nama Produk, dtype: int64)

In [18]:
df_new = df.copy()

In [19]:
df_new['Waktu Pembayaran'] = pd.concat(frames)['Waktu Pembayaran Dilakukan'].values

In [20]:
df_new['Pesanan Dibuat'] = pd.concat(frames)['Waktu Pesanan Dibuat'].values

In [21]:
df_new.to_csv('Processing Data.csv')

In [23]:
df_new

,No. Pesanan,Status Pesanan,Nama Produk,Nama Variasi,Harga Setelah Diskon,Jumlah,Potongan Koin Shopee,Ongkos Kirim Dibayar oleh Pembeli,Total Pembayaran,Username (Pembeli),Kota/Kabupaten,Waktu Pembayaran,Pesanan Dibuat
0,200302R7G0BX8D,Selesai,NaN,30x30,Rp 17.500,1,0.0,Rp 9.000,Rp 26.500,usako,KOTA JAKARTA BARAT,2020-03-02 14:18,2020-03-02 14:18
1,200302RM4QP8U8,Batal,NaN,"Merah,100ml",Rp 20.000,1,0.0,Rp 12.000,Rp 92.000,hannamargarethtampubolon,KOTA BANDUNG,-,2020-03-02 18:04
2,NaN,NaN,NaN,"Kuning,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"Biru,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"Hijau,100ml",Rp 20.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4641,NaN,NaN,NaN,"Jumbo/giant,25 gram",Rp 13.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4642,2007259YW67JHH,Selesai,NaN,"Standar,25 gram",Rp 6.500,1,0.0,Rp 32.000,Rp 116.500,liftia10,KOTA JAKARTA SELATAN,2020-07-25 09:33,2020-07-25 09:31
4643,NaN,NaN,NaN,"Jumbo/giant,25 gram",Rp 13.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4644,NaN,NaN,NaN,B,Rp 35.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4645,NaN,NaN,NaN,1 paket @50gr,Rp 30.000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN